@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@400;500&family=Roboto:wght@300;400;500&display=swap');


.loginFormContainer{
    display: inline-block;
    align-items: left;
    align-content: left;
    text-align: left;
    margin-left: 80px;
    margin-top: 13%;
}

.emailInput, .passwordInput{
    border: none;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.emailInput:focus, .passwordInput:focus{
    outline: none;
  }

.passwordField{
    display: flex;
}

.emailForm p{
    padding-bottom: 25px;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-right: 60px;
   }

.passwordForm p{
    padding-bottom: 35px;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: underline;
   }

.passwordForm p:hover{
    text-decoration: underline;
    cursor: pointer;
   }

.alternativeLogin{
    font-weight: 700;
    text-decoration: underline;
}


/*----------Responsive Design For Desktop---------*/

@media only screen and (min-width: 1629px) {
    
    .loginFormContainer{
        margin-top: 18%;
    }
}

/*----------Responsive Design For iPhone---------*/

@media only screen and (max-width: 670px) { 
    
    .loginFormContainer{
        margin-left: 10px;
    }

    .emailInput, .passwordInput{
        border: none;
        width: 90%;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: black;
    }

}