@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@400;500&family=Roboto:wght@300;400;500&display=swap');

.filter-buttons{
    list-style-type: none;
    display:flex; 
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    margin-left: 6%;

    
    
}


.Sort, .Size, .Color, .Price, .availableOnline, .newProducts, .customerRatings, .allFilters{
    background-color: #f5f5f5;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;

 
    font-size: 0.80rem;
    margin: 4px 6px 14px;
    border-radius: 20px;
    align-items: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sort:hover, .Size:hover, .Color:hover, .Price:hover, .availableOnline:hover, .newProducts:hover, .customerRatings:hover, .allFilters:hover{
    background-color: #e2e2e2;
}

.Sort, .Size, .Color, .Price, .allFilters{
    width: 105px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.availableOnline, .customerRatings{
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.newProducts{
    width: 110px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.allFilters{
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.itemNumber{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 0.90rem;
    color: #b1b1b1;
    padding-right: 20px;
}

.roomFilterButtons{
    display: flex;
    list-style-type: none;
    align-items: center;
    align-content: center;
    margin-left: 79%;
    
    
}

.itemNumber{
    width: 100%;
}

.productB, .roomB{
    background-color: #ffffff;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 0.80rem;
    color: #242424;
    padding: 8px;
}

.productB{
    border-left: 1px solid rgb(136, 136, 136);
    border-top: 1px solid rgb(136, 136, 136);
    border-bottom: 1px solid rgb(136, 136, 136);

}

.productB:hover{
    border-left: 1px solid rgb(26, 26, 26);
    border-top: 1px solid rgb(26, 26, 26);
    border-bottom: 1px solid rgb(26, 26, 26);

}

.roomB{
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);

}

.buttonDivider {
    border-top: 1px solid rgb(235, 235, 235);
    width:81%;
    margin-left: 129px;
    margin-top: 30px;
    display:flex; 
  }

@media only screen and (max-width: 667px) {
    .filter-buttons{
        margin-left: 0%;
        padding: 2px;
        display: block;
        
    }

    .Sort, .Size, .Color, .Price, .availableOnline, .newProducts, .customerRatings, .allFilters{
        margin: 4px 5px 10px;
   
    }

    .Price, .availableOnline, .newProducts, .customerRatings, .allFilters{
        margin: 4px 5px 10px;
   
    }

    .roomButtons{
        display: flex;
    }

    .roomFilterButtons{
        margin-left: 40%;
    }

    .buttonDivider {
        width:95%;
        margin-left: 9px;
        margin-bottom: 5%;
      }
 
}

@media only screen and (min-width: 1629px) {

    .filter-buttons{
        width: 94%;
        margin-left: 7.2%;
        
        
    }

    .roomFilterButtons{
        margin-right: 10%;
        margin-left: auto;
        
    }

    .buttonDivider {
        width:85%;
        margin-left: 180px;
      }

   
    

  }

