@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.navbar-list{
    list-style-type: none;
    display:flex; 
    align-items: center;
    margin-top: 2%;
}

.hamMenu-button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin-left: 190%;
  }

  .hamMenu-button:hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .logo {
    margin-left: 6.5%;
  }

  .Products {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:  #111111;
    
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 12px 0px 40px;
  }

  .Products:hover {
    text-decoration: underline;
}

  .Rooms {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:  #111111;
    
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 12px;
  }

  .Rooms:hover {
    text-decoration: underline;
}

  .Offers {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:  #111111;
    
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 12px;
    
  }

  .Offers:hover {
    text-decoration: underline;
}

  .searchBar {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    /*margin-left: 2%;*/
  }

  .location {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    /*margin-left: 140%;*/
    margin: 0px 20px;
  }

  .location:Hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

  .shipping {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 10px;
  }

  .shipping:Hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


  .account {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 10px;
  }

  .account:Hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

  .favourite {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 10px;
  }

  .favourite:Hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


  .cart {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 10px;
  }

  .cart:Hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


  .divider {
    border-top: 1px solid rgb(235, 235, 235);
    width:83.5%;
    margin-top: 35px;
    margin-left: 195px;
  }

  .searchContainer{
      background-color: #f5f5f5;
      height: 40px;
      
      display:flex; 
      align-items: center;
      border-radius: 25px;

      margin-left: 3%;


  }

  .searchBar{
    display:flex; 
    align-items: center;
  }

  .searchInput{
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;

    margin-left: 1%;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  .searchInput:focus{
    outline: none;

  }

  .searchIcon{
    margin-left: 1%;
  }

  .cameraIcon{
    margin-left: 590px;
    margin-right: 40px;
  }

  /*----------Responsive Design For iPhone---------*/

  @media only screen and (max-width: 600px) {
    .navbar-list{
      list-style-type: none;
      display:flex; 
      align-items: center;
      margin-top: 2%;
      padding-left: 20px;
  }

    .searchContainer{
      display: none;
  }

  .Rooms, .Offers, .Products{
    display: none;
  }

  .logo {
    margin-left: 0%;
  }

  .divider {
    margin-left: 18px;
    width: 90%;
    margin-top: 0%;
  }

  .hamMenu-button{
    display: none;
  }

  .buttonList{
    list-style-type: none;
    display:flex; 
    align-items: center;
    margin-left:2%;
  }

  .shipping{
    display: none;
  }

  .location{
    margin-left: 5%;
  }

  .location, .account, .favourite, .cart{
    margin: 0px 1px;
  }

}