@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.navbar-list{
    list-style-type: none;
    display:flex; 
    align-items: center;
    justify-content: left;
    margin-top: 2%;
}

.hamMenu-button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    padding-right: 60px;
    
    position: sticky;

  }

  .hamMenu-button:hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .logo {
    padding-left: 0%;
    position: relative;
    
  }

  .linksContainer{
    display: flex;
  
  }

  .Products {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:  #111111;
    
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 12px 0px 40px;
  }

  .Products:hover {
    text-decoration: underline;
}

  .Rooms {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:  #111111;
    
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 12px;
  }

  .Rooms:hover {
    text-decoration: underline;
}

  .Offers {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:  #111111;
    
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 12px;
    
  }

  .Offers:hover {
    text-decoration: underline;
}

  .searchBar {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    /*margin-left: 2%;*/
  }

  .buttonList{
    display: flex;
    flex-wrap: nowrap;
  }


  .location {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    /*margin-left: 140%;*/
    margin: 0px 10px;
  }

  .location:Hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

  .shipping {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 5px;
  }

  .shipping:Hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


  .account {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 5px;
  }

  .account:Hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

  .favourite {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 5px;
  }

  .favourite:Hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


  .cart {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px 5px;
  }

  .cart:Hover {
    background: #f5f5f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


  .divider {
    border-top: 1px solid rgb(235, 235, 235);
    width:85%;
    margin-left: 130px;
    margin-top: 20px;
    
    display:flex; 
    
   
  }

  .searchContainer{
      background-color: #f5f5f5;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px;
      width: 35%;
      
      
     

      
      border-radius: 25px;

      margin-left: 1.5%;


  }

  .searchBar{
    display:flex; 
    align-items: center;
    
  }

  .searchInput{
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin-left: 1%;

    width: 300px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  .searchInput:focus{
    outline: none;

  }

  .searchIcon{
    margin-left: 2%;
  }

  .cameraIcon{
    margin-left: auto;
  }

  @media only screen and (min-width: 1629px) {

    .hamMenu-button {
   
      padding-left: 65px;

  
    }

    .searchContainer{
      width: 46%
  }

  
  .divider {
  
    width:80%;
    margin-left: 185px;

  }

  }

  /*----------Responsive Design For iPhone---------*/

  @media only screen and (max-width: 670px) {
    .navbar-list{
      list-style-type: none;
      display:flex; 
      align-items: center;
      margin-top: 2%;
      padding-left: 20px;
  }

  .searchContainer{
    display:none;
  }

  .Rooms, .Offers, .Products{
    display: none;
  }

  .logo {
    margin-left: 0%;
  }

  .divider {
    margin-left: 18px;
    width: 84%;
    margin-top: 0%;
  }

  .hamMenu-button{
    padding-right: 38px;
  }

  .buttonList{
    list-style-type: none;
    display:flex; 
    align-items: center;
    margin-left:2%;
  }

  .shipping{
    display: none;
  }

  .location{
    margin-left: 5%;
  }

  .location, .account, .favourite, .cart{
    margin: 0px 1px;
  }

}